body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6DCCE;
    color: #314A43;
}

.header-container {
    background-color: #C27C88 !important;
}

.header-container h1 {
    font-weight: 700;
    color: #F6DCCE;
}

header .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #314A43 !important;
}


header .navbar-nav .nav-link {
    color: #314A43 !important;
    font-weight: 700;
    margin: 0 1em;
    font-size: 1.2em;
}

header .navbar-nav .nav-link:hover {
    color: #F6DCCE !important;
}


main {
    padding: 20px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 2%;
    color: #314A43;
    font-weight: 700;
}

section p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #314A43;
    font-weight: 400;
}

.img-uniform {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#faqAccordion .card-header {
    background-color: #c28791;
    color: #F6DCCE;
}

#faqAccordion .card-body {
    background-color: #F6DCCE;
    color: #314A43;
}

.btn-link {
    color: #314A43;
}

.btn-link:hover {
    color: #C27C88;
}

.btn-link i {
    margin-right: 0.5em;
}

.btn-link p {
    display: inline;
    margin: 0;
}

.color-footer {
    background-color: #314A43;
    color: #F6DCCE;
    text-align: center;
    display: flex;
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer p,
footer a {
    margin: 0.5em 0;
    font-size: 1.1em;
    color: #F6DCCE; 
}

footer p:hover,
footer a:hover,
footer i:hover  {
    color: #C27C88; 
}

footer i {
    color: #F6DCCE;
    font-size: 1em;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer .social-icons a {
    color: #F6DCCE;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #C27C88;
}

.btn-primary {
    background-color: #314A43;
    border-color: #314A43;
}

.btn-primary:hover {
    background-color: #F6DCCE;
    border-color: #314A43;
    color: #314A43;
}

@media (max-width: 576px) {

    .color-footer {
        position: relative;
    }

    footer .container {
        padding: 1em;
    }

    footer p,
    footer a {
        font-size: 1em;
    }

    footer .social-icons {
        flex-direction: column;
    }

    footer .social-icons a {
        margin: 0.5em 0;
    }
}